.tile {
    width: 100px;
    height: 100px;
}

.tile.attacked {
    opacity: 0.5;
    border: 2px;
    border-color: red;
}

.tile.last {
    opacity: 0.5;
    background-color: #d1d3d8;
}

.square-w {
    background-color: white;  
}

.square-b {
    background-color: rgb(119, 99, 7);
}

/* .tile.over {
    background-color: #d1d3d8;
}

.legal {
    opacity: 0.8;
} */